{{#extend "main"}}
    {{#content "main"}}
        <div class="content-wrapper">
            <h2>Writing</h2>
            <ul id="talks">
                {{#each talks}}
                    <li class="talk">
                        <object type="image/svg+xml" data="{{iconUrl}}" class="icon"></object>
                        <div class="details">
                            <h3><a href="/talks/{{slug}}">{{title}}</a></h3>
                            <div class="byline">
                                <address>{{venue}}</address> – <time>{{date}}</time>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/content}}
{{/extend}}
