{{#extend "main"}}
    {{#content "main"}}
        <div class="content-wrapper">
            <h2>{{talk.title}}</h2>
            <div class="byline">
                <address>{{talk.venue}}</address> – <time>{{talk.date}}</time>
            </div>
            <div class="abstract">{{{talk.abstract}}}</div>
            {{#if talk.links}}
                <h3>Links</h3>
                <ul class="links">
                    {{#each talk.links}}
                        <li><a href="{{url}}" target="_BLANK">{{label}}</a></li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if talk.videoUrl}}
                <h3>Video</h3>
                <div class="video-container">
                    <iframe src="{{talk.videoUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {{/if}}
            {{#if talk.images}}
                <h3>Images</h3>
                <ul class="images">
                    {{#each talk.images}}
                        <li><a href="{{url}}"><img src="{{url}}" alt="{{altText}}" /></a></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    {{/content}}
{{/extend}}
